.details {
  h3 {
    text-transform: uppercase;
  }

  hr {
    @include horizontal-line;

    margin: 1.3rem 0;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;

    input {
      width: 20%;
      border: $border;
      padding: 0.6rem;
    }

    button {
      position: relative;
      width: 2.5rem;
      margin-left: 0.7rem;
    }

    .icons {
      @include icons;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(210deg) brightness(105%) contrast(103%);
    }
  }

  .table-pages {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    a {
      text-decoration: none;
      color: $links-color;
      padding: 1rem;
    }

    a:hover {
      background-color: $background-color;
    }

    .icons {
      @include icons;

      width: 1.5rem;
      height: 1.5rem;
      margin: .3rem;
    }

    .icons:hover {
      filter: invert(70%) sepia(27%) saturate(4479%) hue-rotate(358deg) brightness(103%) contrast(106%);
    }
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  td:nth-of-type(1):before {
    content: "Tracker name";
  }

  td:nth-of-type(2):before {
    content: "Initiated date";
  }

  td:nth-of-type(3):before {
    content: "Visits";
  }

  td:nth-of-type(4):before {
    content: "Unique";
  }

  td:nth-of-type(5):before {
    content: "Signups";
  }

  td:nth-of-type(6):before {
    content: "FTD";
  }

  td:nth-of-type(7):before {
    content: "Depositors";
  }

  td:nth-of-type(8):before {
    content: "Deposits($)";
  }

  td:nth-of-type(9):before {
    content: "Payout";
  }

  td:nth-of-type(10):before {
    content: "Turnover";
  }

  td:nth-of-type(11):before {
    content: "Deal";
  }
}