.personal-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h3 {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .message {
    visibility: hidden;
    position: fixed;
    top: 50%;
    width: auto;
    height: 1rem;
    background: rgba(246, 128, 128, 0.5);
    padding: 1rem 2rem;
    display: inline-flex;
    align-items: center;
    color: #c82525;
    font-weight: bolder;
  }

  hr {
    @include horizontal-line;

    width: 100%;
  }

  form {
    width: 100%;
  }

  .form-inner {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem;
  }

  input {
    background: transparent;
    border: 1px solid #DCDCDC;
    height: 1.9rem;
    width: 60%;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 680px) {
  .form-inner {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    label {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }
}
