/* Colors */
$background-color: #DCDCDC;
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$links-color: #8395a7;
$hover-background: #3c6382;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Animation */
$transitions: .5s .1s ease-in-out;

$border: .1px solid $links-color;